*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

h2.city{
    margin-bottom: 0;
}

h1.temp{
    flex-grow: 1;
    margin:0;
    color: #FFFD82;
}

.card{
    background-color: #000000d0;
    color:white;
    padding: 2em;
    border-radius: 2em;
    width: 100%;
    max-width: 420px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border:none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    background-color: #7c7c7c2b;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #7c7c7c6b;
}

input.search-box{
    border:none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    width: calc(100% - 50px);
}

.description{
    text-transform: capitalize;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-left: 0px;
}

.flex{
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.weather.loading{
    visibility: hidden;
}

.weather.loading::after{
    visibility: visible;
    content: 'Loading...';
    color: white;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 200;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}

.future-forecast{
    padding: 15px 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 2em;
    background: #000000d0;
}

.future-forecast .weather-forecast-item .row{
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.future-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #7c7c7c2b;
    border-radius: 50px;
}

@media only screen and  (max-width:800px){
    
    .container{
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
    }
    
    .place-container{
        padding-bottom: 20px;
        text-align: center;
    }

    .future-forecast{
        padding-left: 0;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: flex-start;
        overflow-x: scroll;
    }
}